{% extends 'base.html.twig' %}

{% block body %}
    <h1>Authors list</h1>

    <table>
        <thead>
        <tr>
            <th>firstname</th>
            <th>surname</th>
            <th>birthday</th>
        </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.firstname }}</td>
                <td>{{ author.surname }}</td>
                <td>{{ author.birthday|date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h1>Search</h1>
    <form action="{{ path('autors_index') }}">
        <input name="q" type="text">
        <input name="q_date" type="date">
        <button>submit</button>
    </form>
    <table>
        <thead>
        <tr>
            <th>firstname</th>
            <th>surname</th>
            <th>birthday</th>
        </tr>
        </thead>
        <tbody>

        {% for result in results %}
            <tr>
                <td>{{ result.firstname }}</td>
                <td>{{ result.surname }}</td>
                <td>{{ result.birthday|date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
